*.*~
*.so
.cache
_build
build
cpp/compile_commands.json
python/record.txt
python/ucxx/_lib/*.a
python/ucxx/_lib/*.o
python/ucxx/_lib/*.c
python/ucxx/_lib/*.cpp
python/ucxx/_lib/*.h

dask-worker-space
dist/
__pytestcache__
__pycache__
*.egg-info/
.vscode
.pytest_cache

