repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.12.0
        hooks:
              - id: isort
                # Use the config file specific to each subproject so that each
                # project can specify its own first/third-party packages.
                args: ["--config-root=python/", "--resolve-all-configs"]
                files: python/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
      - repo: https://github.com/ambv/black
        rev: 22.3.0
        hooks:
              - id: black
                files: python/.*
      - repo: https://github.com/astral-sh/ruff-pre-commit
        rev: v0.0.278
        hooks:
              - id: ruff
                files: python/.*$
      - repo: https://github.com/MarcoGorelli/cython-lint
        rev: v0.15.0
        hooks:
              - id: cython-lint
      - repo: https://github.com/pre-commit/mirrors-clang-format
        rev: v16.0.6
        hooks:
              - id: clang-format
                files: \.(h|cpp)$
                types_or: [file]
                args: ['-fallback-style=none', '-style=file', '-i']
      - repo: https://github.com/cpplint/cpplint
        rev: 2.0.0
        hooks:
              - id: cpplint
                name: cpplint
                # description: Check C++ code style using cpplint.py.
                # entry: bash ./tools/codestyle/cpplint_pre_commit.hook
                # language: system
                files: \.(h|cpp)$
                # exclude: path/to/myfile.h
      - repo: https://github.com/rapidsai/pre-commit-hooks
        rev: v0.4.0
        hooks:
            - id: verify-alpha-spec
              args:
                - --fix
                - --rapids-version=25.02
      - repo: https://github.com/rapidsai/dependency-file-generator
        rev: v1.16.0
        hooks:
            - id: rapids-dependency-file-generator
              args: ["--clean"]
      - repo: local
        hooks:
            - id: doxygen-check
              name: doxygen-check
              entry: ./ci/checks/doxygen.sh
              files: ^cpp/include/
              types_or: [file]
              language: system
              pass_filenames: false
              verbose: true
      - repo: https://github.com/codespell-project/codespell
        rev: v2.2.2
        hooks:
            - id: codespell
              additional_dependencies: [tomli]
              args: ["--toml", "python/pyproject.toml"]
              exclude: |
                (?x)^(
                  .*test.*|
                  ^CHANGELOG.md$
                )

default_language_version:
      python: python3
