# Cython files
recursive-include ucxx *.pxd
recursive-include ucxx *.pyx

# Typing files
recursive-include ucxx *.pyi

# Build files. Don't use a recursive include on '.' in case the repo is dirty
include . CMakeLists.txt
recursive-include ucxx CMakeLists.txt
recursive-include cmake *
