# SPDX-FileCopyrightText: Copyright (c) 2022-2025, NVIDIA CORPORATION.
# SPDX-License-Identifier: BSD-3-Clause

[tool.isort]
line_length = 79
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
combine_as_imports = true
order_by_type = true
known_dask = [
    "dask",
    "distributed",
]
known_rapids = [
    "rmm",
    "cudf",
]
known_first_party = [
    "ucxx",
    "distributed_ucxx",
]
default_section = "THIRDPARTY"
sections = [
    "FUTURE",
    "STDLIB",
    "THIRDPARTY",
    "DASK",
    "RAPIDS",
    "FIRSTPARTY",
    "LOCALFOLDER",
]
skip = [
    ".eggs",
    ".git",
    ".hg",
    ".mypy_cache",
    ".tox",
    ".venv",
    "build",
    "dist",
    "__init__.py",
]

[tool.ruff]
select = ["E", "F", "W"]
ignore = [
    # whitespace before :
    "E203",
]
fixable = ["ALL"]
exclude = [
    # TODO: Remove this in a follow-up where we fix __all__.
    "__init__.py",
]
line-length = 88

[tool.codespell]
ignore-words-list = "cancelation,inflight"
