name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-builder:
    needs:
      - checks
      - conda-cpp-build
      - docs-build
      - conda-cpp-tests
      - conda-python-tests
      - conda-python-distributed-tests
      - wheel-build-ucxx
      - wheel-tests-ucxx
      - wheel-build-distributed-ucxx
      - wheel-tests-distributed-ucxx
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/pr-builder.yaml@cuda-12.5.1
  checks:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/checks.yaml@cuda-12.5.1
    with:
      enable_check_generated_files: false
  conda-cpp-build:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-build.yaml@cuda-12.5.1
    with:
      build_type: pull-request
  docs-build:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@cuda-12.5.1
    with:
      build_type: pull-request
      node_type: "gpu-v100-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:latest"
      run_script: "ci/build_docs.sh"
  conda-cpp-tests:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-tests.yaml@cuda-12.5.1
    with:
      build_type: pull-request
      container-options: "--cap-add CAP_SYS_PTRACE --shm-size=8g --ulimit=nofile=1000000:1000000"
  conda-python-tests:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@cuda-12.5.1
    with:
      build_type: pull-request
      container-options: "--cap-add CAP_SYS_PTRACE --shm-size=8g --ulimit=nofile=1000000:1000000"
  conda-python-distributed-tests:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@cuda-12.5.1
    with:
      build_type: pull-request
      script: "ci/test_python_distributed.sh"
      container-options: "--cap-add CAP_SYS_PTRACE --shm-size=8g --ulimit=nofile=1000000:1000000"
  wheel-build-ucxx:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@cuda-12.5.1
    with:
      build_type: pull-request
      script: ci/build_wheel_ucxx.sh
  wheel-tests-ucxx:
    needs: wheel-build-ucxx
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@cuda-12.5.1
    with:
      build_type: pull-request
      container-options: "--cap-add CAP_SYS_PTRACE --shm-size=8g --ulimit=nofile=1000000:1000000"
      script: ci/test_wheel_ucxx.sh
  wheel-build-distributed-ucxx:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@cuda-12.5.1
    with:
      build_type: pull-request
      script: ci/build_wheel_distributed_ucxx.sh
  wheel-tests-distributed-ucxx:
    needs: [wheel-build-ucxx, wheel-build-distributed-ucxx]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@cuda-12.5.1
    with:
      build_type: pull-request
      container-options: "--cap-add CAP_SYS_PTRACE --shm-size=8g --ulimit=nofile=1000000:1000000"
      script: ci/test_wheel_distributed_ucxx.sh
